@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Unica+One&display=swap');

h1, h2, p{
  color: white;
}

h1, h2 {
  font-family: 'Unica One', cursive;
}

h1 {
  font-size: 10rem;
  font-family: 'Unica One', cursive;
}

h2 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .row .col {
  align-content: center;
}


#headshot-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#about-text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20% 0 3%;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portfolio .row {
  padding: 0px;
  margin: 0 2rem 0 2rem;
}