div.text-white.card {
  border: none;
  height: 20rem;
  background: turquoise;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.portfolio-card-title {
  text-align: center;
}
