#nav-row {
  position: fixed;
  width: 100vw;
}

#nav-row .col {
  display: flex;
  justify-content: center;
}

#nav-row a {
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  padding: 1%;
  color: #95EEED;
}